*{margin:0; padding:0; outline:none; border:0;
    font-family: sans-serif;}
body{
    background-color:#34495e;
}
#wrap{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100vh;   
}
.logo{
    color:#fff;
    position:absolute;
    left:16px;
    margin-right:16px;
    top:16px;
}
.logo a{
    color:#fff;
    text-decoration: none;
}
.appWrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:rgba(255,255,255,.3);
    text-align:center;
    border-radius:50%;
}

h1{
    color:#fff;
    font-size:100px;
    transition:color 0.5s ease-in-out;
    margin-bottom:8px;
}
.clicked{
    color:#f1c40f;
}

.form,
.greetings{
    display:none;
}

.showing{
    display:block;
    color:#fff;
    font-size:32px;
}
.js-form{
    width:90%;
    
}
.js-form.form.showing input{
    background:none;
    color:#fff;
    font-size:32px;
    z-index:4;
}
.js-form.form.showing input::placeholder{
    color:#fff;
    text-align:left;
    font-weight: normal;
}

/* todolist */
.todoWrap{
    position:absolute;
    bottom:15%;
    right:0;
    transform:translateX(-50%);
}
.todoWrap input{
    background:none;
    width:300px;
    height:45px;
    border-bottom:1px solid #fff;
    color:#fff;
    font-size:32px;
    padding-bottom:8px;
    margin-bottom:16px;
}
.todoWrap input::placeholder{
    color:#fff;
    font-size: 32px;
}
.js-todoList{
    list-style:none;
    color:#fff;
}
.js-todoList li{
    margin-bottom:8px;
}
.js-todoList button{
    background:none;
    font-size:16px;
    margin-right:8px;
}
/* background images */
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.bgImage{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:-1;
    animation: fadeIn .5s linear;
    overflow:hidden;
}

/* weather */

.js-weather{
    color:#fff;
    position:absolute;
    right:16px;
    margin-right:16px;
    top:16px;
}

/* for responsive web */
@media screen and (max-width:1252px){
    .logo{
        display:none;
    }
    .appWrap{
        width:200px;
        height:200px;
    }
    h1{
        font-size:50px;
    }
    .showing{
        font-size:16px;
    }
    .js-form.form.showing input{
        font-size:16px;
    }
    .todoWrap{
        width:45%;
        bottom:5%;
        left:50%;
        transform:translateX(-50%);
    }
    .todoWrap input{
        width:90%;
        font-size:16px;
        padding-bottom:0px;
        margin-bottom:8px;
    }
    .todoWrap input::placeholder{
        font-size: 16px;
    }
    .js-todoForm{
        margin-right:0;
    }
    .js-weather{
        right:16px;
        margin-right:0;
    }
}